In [6]:
import pandas as pd

In [24]:
#getting all of my files
df_races = pd.read_csv("DataForQA1/races.csv")
#df_races.head()

df_drivers = pd.read_csv("DataForQA1/drivers.csv")
#df_drivers.head()

df_results = pd.read_csv("DataForQA1/results.csv")
df_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [9]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26459 entries, 0 to 26458
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26459 non-null  int64
 1   raceId           26459 non-null  int64
 2   driverId         26459 non-null  int64
 3   constructorId    26459 non-null  int64
 4   number           26459 non-null  object
 5   grid             26459 non-null  int64
 6   position         26459 non-null  object
 7   positionText     26459 non-null  object
 8   positionOrder    26459 non-null  int64
 9   points           26459 non-null  float64
 10  laps             26459 non-null  int64
 11  time             26459 non-null  object
 12  milliseconds     26459 non-null  object
 13  fastestLap       26459 non-null  object
 14  rank             26459 non-null  object
 15  fastestLapTime   26459 non-null  object
 16  fastestLapSpeed  26459 non-null  object
 17  statusId         26459 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.6+ MB

In [13]:
df_results["raceId"].value_counts()

raceId
800    55
809    47
360    39
368    39
359    39
       ..
657    14
837    14
660    13
827    13
765    10
Name: count, Length: 1110, dtype: int64

In [28]:
# Very suspisious that there are 55 entries for 1 race as modern F1 only has 20 drivers
df_races.loc[df_races["raceId"] == 800]
# higher number makes more sense as it is the Indy 500, but still a little sketchy

# sort by driver ID to figureout if multiple enteries per driver
df_temp_results = df_results.sort_values(by="driverId")
#df_temp_results.head()

df_temp_results.loc[df_temp_results["raceId"] == 800]
#df_results.loc[df_results["raceId"] == 800]
# 4 number 45 cars?
#df_drivers.loc[df_drivers["driverId"] == 509]

# after some research there are many duplicate entries as drivers shared cars thus there are multiple (2-3)
# entries for each of these cars AND some drivers drove in multiple cars thus the driver has multiple entries

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
509,509,rathmann,\N,\N,Jim,Rathmann,1928-07-16,American,http://en.wikipedia.org/wiki/Jim_Rathmann

In [29]:
# Very suspisious that there are 47 entries for 1 race as modern F1 only has 20 drivers
df_races.loc[df_races["raceId"] == 809]

# another indy 500 so this is accurate for the reasons listed above.

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
808,809,1953,2,19,Indianapolis 500,1953-05-30,\N,http://en.wikipedia.org/wiki/1953_Indianapolis...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [30]:
# Weird that their are only 10 entries, what year is it?
df_races.loc[df_races["raceId"] == 765]

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
764,765,1958,1,25,Argentine Grand Prix,1958-01-19,\N,http://en.wikipedia.org/wiki/1958_Argentine_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [52]:
df_races.loc[df_races["raceId"] == 1130]

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
1110,1130,2024,10,4,Spanish Grand Prix,2024-06-23,13:00:00,https://en.wikipedia.org/wiki/2024_Spanish_Gra...,2024-06-21,11:30:00,2024-06-21,15:00:00,2024-06-22,10:30:00,2024-06-22,14:00:00,\N,\N

In [42]:
df_temp_results.loc[df_temp_results["raceId"] == 1100]
#df_drivers.loc[df_drivers["driverId"] == 830]

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
25881,25887,1100,1,131,44,3,2,2,2,18.0,58,+0.179,9158550,49,5,1:20.613,235.703,1
25882,25888,1100,4,117,14,4,3,3,3,15.0,58,+0.769,9159140,53,4,1:20.476,236.105,1
25886,25892,1100,807,210,27,10,7,7,7,6.0,58,+4.939,9163310,46,8,1:21.124,234.219,1
25884,25890,1100,815,9,11,0,5,5,5,11.0,58,+3.320,9161691,53,1,1:20.235,236.814,1
25890,25896,1100,822,51,77,0,11,11,11,0.0,58,+6.513,9164884,46,17,1:22.233,231.060,1
25896,25902,1100,825,210,20,14,17,17,17,0.0,52,\N,\N,52,14,1:21.685,232.610,3
25880,25886,1100,830,9,1,1,1,1,1,25.0,58,2:32:38.371,9158371,49,2,1:20.342,236.498,1
25891,25897,1100,832,6,55,5,12,12,12,0.0,58,+6.594,9164965,53,3,1:20.467,236.131,1
25893,25899,1100,839,214,31,11,14,14,14,0.0,56,\N,\N,44,11,1:21.203,233.991,4
25883,25889,1100,840,117,18,6,4,4,4,12.0,58,+3.082,9161453,50,6,1:20.934,234.769,1
25892,25898,1100,842,214,10,9,13,13,13,0.0,56,\N,\N,47,7,1:20.995,234.592,4
25899,25905,1100,844,6,16,7,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,4
25885,25891,1100,846,1,4,13,6,6,6,8.0,58,+3.701,9162072,46,9,1:21.173,234.077,1
25897,25903,1100,847,131,63,2,\N,R,18,0.0,17,\N,\N,16,18,1:22.680,229.811,5
25898,25904,1100,848,3,23,8,\N,R,19,0.0,6,\N,\N,6,19,1:23.349,227.966,3
25889,25895,1100,852,213,22,12,10,10,10,1.0,58,+6.052,9164423,52,15,1:21.789,232.314,1
25888,25894,1100,855,51,24,17,9,9,9,2.0,58,+5.713,9164084,48,16,1:21.819,232.229,1
25894,25900,1100,856,213,21,15,15,15,15,0.0,56,\N,\N,50,10,1:21.183,234.049,4
25887,25893,1100,857,1,81,16,8,8,8,4.0,58,+5.382,9163753,53,12,1:21.335,233.611,1
25895,25901,1100,858,3,2,18,16,16,16,0.0,56,\N,\N,50,13,1:21.456,233.264,4

# I am going to Focus on the last 5 Years
## That still should leave me a little more than 2000 entries

In [69]:
df_results = pd.read_csv("DataForQA1/results.csv")
df_results.sort_values('raceId')
df_results.reset_index(inplace=True, drop=True)
#df_results.loc[df_results["raceId"] == 1010]
shortened_race_results = df_results.loc[24197:]
shortened_race_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
24197,24203,1010,822,131,77,2,1,1,1,26.0,58,1:25:27.325,5127325,57,1,1:25.580,223.075,1
24198,24204,1010,1,131,44,1,2,2,2,18.0,58,+20.886,5148211,57,2,1:26.057,221.839,1
24199,24205,1010,830,9,33,4,3,3,3,15.0,58,+22.520,5149845,57,3,1:26.256,221.327,1
24200,24206,1010,20,6,5,3,4,4,4,12.0,58,+57.109,5184434,16,8,1:27.954,217.054,1
24201,24207,1010,844,6,16,5,5,5,5,10.0,58,+58.203,5185528,58,4,1:26.926,219.621,1

In [70]:
shortened_race_results["raceId"].value_counts()

raceId
1010    20
1011    20
1012    20
1013    20
1014    20
        ..
1126    20
1123    19
633      1
745      1
717      1
Name: count, Length: 116, dtype: int64

In [87]:
# What are Race Id's 1123 (recent so come back), 633, 745, 717

# US GP 1964 
    # index: 24298
df_races.loc[df_races["raceId"] == 717]

# US GP 1961
    # index: 24297
df_races.loc[df_races["raceId"] == 745]

# Spanish GP 1971
    # index: 24299
df_races.loc[df_races["raceId"] == 633]

# These 3 entries can be dropped as we are only looking for data post 2018
shortened_race_results.loc[shortened_race_results['raceId'] == 717]
shortened_race_results.loc[shortened_race_results['raceId'] == 745]
shortened_race_results.loc[shortened_race_results['raceId'] == 633]
shortened_race_results.drop([24298, 24297, 24299], inplace=True, axis=0)

C:\Users\asmit\AppData\Local\Temp\ipykernel_20868\982051822.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shortened_race_results.drop([24298, 24297, 24299], inplace=True, axis=0)

In [88]:
shortened_race_results["raceId"].value_counts()

raceId
1010    20
1011    20
1012    20
1013    20
1014    20
        ..
1126    20
1128    20
1127    20
1129    20
1123    19
Name: count, Length: 113, dtype: int64

In [75]:
# Austrailian GP 2024 - Makes Sense as 1 car couldn't compete as it was totaled BEFORE qualifying (I'm looking at you Alex Albon)
df_races.loc[df_races["raceId"] == 1123]

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
1103,1123,2024,3,1,Australian Grand Prix,2024-03-24,04:00:00,https://en.wikipedia.org/wiki/2024_Australian_...,2024-03-22,01:30:00,2024-03-22,05:00:00,2024-03-23,01:30:00,2024-03-23,05:00:00,\N,\N

## The number of Entries per race now appears to be good

### Though I am curious about the 2023 Emilia Romagna GP as it was canceled
- I'd beleive that there would be 0 entries as it was canceled

In [95]:
# As found earlier, the NEXT GP (the 2024 Spanish GP is raceID = 1130)
    # the 2023 "Imola" GP was 27 races ago
df_races.loc[df_races["raceId"] == 1103]
# this is weird Imola should be raceID==1103
#lets check the race before and after to confirm
# Before - 2023 Miami GP
df_races.loc[df_races["raceId"] == 1102]
# After - 2023 Monaco GP
df_races.loc[df_races["raceId"] == 1104]

# so the DS creators left canceled GPs empty not even assigning them a raceId and skipping their respective numbers.
# Thus logically when I search the shortened results set it should not contain that raceId - TRUE!
shortened_race_results.loc[shortened_race_results['raceId'] == 1103]

Empty DataFrame
Columns: [resultId, raceId, driverId, constructorId, number, grid, position, positionText, positionOrder, points, laps, time, milliseconds, fastestLap, rank, fastestLapTime, fastestLapSpeed, statusId]
Index: []

In [96]:
# Now I am curious how they handle races that haven't happened yet.
# noteably I mentioned that I found the next GP (Ran on 6/23/24, but as of when I cloned the data and when I am doing
# this section of the report it has not ran yet)
shortened_race_results.loc[shortened_race_results['raceId'] == 1130]

# Handled the same as the canceled GP.

Empty DataFrame
Columns: [resultId, raceId, driverId, constructorId, number, grid, position, positionText, positionOrder, points, laps, time, milliseconds, fastestLap, rank, fastestLapTime, fastestLapSpeed, statusId]
Index: []